
target-version = "py38"
include = ["tests/**/*.py", "src/**/*.py", "pyproject.toml"]

[lint]
select = [
  "E4",
  "E7",
  "E9",
  "F",   # pyflakes
  "Q",   # flake8-quotes
  "I",   # isort
  "B",   # flake8-bugbear
  "A",   # flake8-builtins
  "ICN", # flake8-import-conventions
]
ignore = [
  "E266", # (too many leading '#'): sometimes we use multiple # for separting sections
  "E203", # (white space before ':'): this error conflicts with black linting
  "E701", # (multiple statements on one line)
  "S101", # (use of assert): mostly we use assert for typing
  # recommended by ruff to avoid conflicts with ruff formatter
  "Q000",
  "Q001",
  "Q002",
  "Q003",
]

[format]
docstring-code-format = true
line-ending = "lf"
